Options +FollowSymlinks
RewriteEngine on
RewriteRule ^/?$ /html/index.php [L]
RewriteRule ^schedule/new/?$ /html/index.php?new=1 [L]
RewriteRule ^schedule/([^/\.]+)/?$ /html/index.php?schedule=$1 [L]
RewriteRule ^delete/([^/\.]+)/?$ /html/delete.php?schedule=$1 [L]
RewriteRule ^login/?$ /html/login.php [L]
RewriteRule ^logout/?$ /html/logout.php [L]
RewriteRule ^trial/?$ /html/trial.php [L]
RewriteRule ^share/([^/\.]+)/([^/\.]+)/?$ /html/share.php?user=$1&schedule=$2 [L]
RewriteRule ^admin/?$ /html/admin.php [L]
