table {
  table-layout: fixed;
}

thead tr {
  height: 20px;
}

tr {
  height: 50px;
}

.calendarCourse {
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
  width: 100px;
  position: absolute;
  border: 1px solid #999;
  background-color: #BBB;
}

.ghost {
  opacity : .5;
}

.courseInfo {
  margin-right: 10px;
  cursor: pointer;
}

.LEC.well {
  background-color: #ebf9ff;
}

.DIS.well {
  background-color: #fff9eb;
}

.LAB.well {
  background-color: #f9ebff;
}


#results {
	margin-top: 20px;
	height: 520px;
	overflow-y: auto;
}
